<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Traffic Symbol Recognition</title>
 


  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/main.css')}}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
       
      
        <h1>Traffic Symbol Recognition<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </nav><!-- .navbar -->

      

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">

        <div class="col-lg-5 order-1 order-lg-1 text-center text-lg-start">
          <img src="{{url_for('static', filename='assets/img/traffic_police.png')}}" class="img-fluid" alt=""
            data-aos="zoom-out" data-aos-delay="300">
        </div>
        <div
          class="col-lg-5 order-2 order-lg-2 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 class="text-danger" data-aos="fade-up">DriveSmart</h2>
          <p data-aos="fade-up" data-aos-delay="100">ML takes the wheel, making roads safer and journeys smoother,
            paving the way for safer roads and smoother rides. Buckle up for the tech takeover! 🤖🚗 #AIInControl.<br>
          Empower journey with smart recognition.</p>
            
            <p class="p-heading p-large"></p>
            
            <button class="btn btn-outline-danger"  onclick="navigateToDashboard()">Recognize Now</button>

    <script>
        function navigateToDashboard() {
           

            // Redirect to the dashboard page
            window.location.href = '/dashboard';
        }
    </script>
        </div>
      </div>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p><span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img"
            style="background-image: url(../static/assets/img/t_symbols.png) ;" data-aos="fade-up" data-aos-delay="150">
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Traffic Symbol Recognition
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i>a specific application of computer vision and image processing that
                  involves training systems to identify and interpret
                  traffic signs or symbols in images or video streams</li>
                <li><i class="bi bi-check2-all"></i> a critical component of modern transportation systems, contributing
                  to road safety, assisting drivers, and facilitating
                  the development of autonomous vehicles</li>
                <li><i class="bi bi-check2-all"></i> enables vehicles to understand and respond to the visual cues
                  present in the road environment.</li>
              </ul>
              <div class="position-relative mt-4">
                <img src="{{url_for('static', filename='assets/img/car.png')}}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Trafffic Symbol Recognition</span></strong>.
      </div>
      <div class="credits">
        Designed by:<br> 
        Biplab Khanal<br>
        Nischal Thapa<br>
        Prateek Karakheti
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  
  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>